@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --Dark-Blue: hsl(240, 38%, 20%);
    --Grayish-Blue: hsl(240, 18%, 77%);
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background: url('./images/pattern-curve.svg') left bottom -4rem / 60% no-repeat;
}

.hidden {
    display: none !important;
}

.container {
    max-width: 1300px;
    display: flex;
    align-items: center;
    height: 90vh;
    background: url('./images/pattern-bg.svg') no-repeat center right/contain, url('./images/pattern-quotes.svg') 180px 150px no-repeat;
    padding-inline: 5rem;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    width: 60%;
}

.info p {
    font-size: clamp(1rem, 4vw, 2rem);
    letter-spacing: -0.01em;
    line-height: 1.4;
    font-weight: 300;
    margin-block: 40px;
}

.img {
    width: 50%;
    position: relative;
}