@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --Dark-Blue: hsl(240, 38%, 20%);
    --Grayish-Blue: hsl(240, 18%, 53%);
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background: url('./images/pattern-curve.svg') left bottom -4rem / 60% no-repeat;
    position: relative;
}

.hidden {
    display: none !important;
}

.container {
    max-width: 1300px;
    display: flex;
    align-items: center;
    height: 90vh;
    background: url('./images/pattern-bg.svg') no-repeat center right/contain, url('./images/pattern-quotes.svg') 180px 150px no-repeat;
    padding-inline: 5rem;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    width: 60%;
    z-index: 2;
}

.info p {
    font-size: clamp(1rem, 4vw, 2rem);
    letter-spacing: -0.01em;
    line-height: 1.4;
    font-weight: 300;
    margin-block: 40px;
}

.info_footer {
    font-size: 19.2px;
}

.info_footer strong {
    color: var(--Dark-Blue);
}

.info_footer span {
    color: var(--Grayish-Blue);
    font-weight: 500;
}

.img {
    width: 50%;
    z-index: 1;
    position: relative;
    padding: .5rem 0 2rem 0;
}

img {
    width: 100%;
    border-radius: 5px;
}

.btns {
    position: absolute;
    bottom: 0px;
    left: 30px;
    cursor: pointer;
    border: none;
    display: flex;
    gap: 0;
}


button {
    color: var(--Grayish-Blue);
    padding: 1.5rem 1.7rem;
    cursor: pointer;
    background-color: #fff;
}

button:hover {
    background-color: #eee;
}

button img {
    width: 15px;
}

button:nth-of-type(1) {
    border: 1px solid var(--Grayish-Blue);
    border-right: 0;
    border-radius: 50% 0 0 50%;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:nth-of-type(2) {
    border: 1px solid var(--Grayish-Blue);
    border-left: 0;
    border-radius: 0 50% 50% 0;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    font-size: 12px;
    color: #222;
    font-weight: 600;
}

footer a {
    color: red;
}


@media(max-width:1150px) {
    .container {
        background: url('./images/pattern-bg.svg') no-repeat center right/contain, url('./images/pattern-quotes.svg') 180px 50px no-repeat;
        background-size: 500px auto, auto;
        height: auto;
    }

}

@media(min-width:882px) {

    footer {
        position: absolute;
        bottom: 10px;
    }
}

@media(max-width:881px) {
    body {
        background: url('./images/pattern-curve.svg') left bottom / 120% no-repeat;
        margin-block: 1.5rem;
    }

    .slide {
        flex-direction: column-reverse;
        gap: 2rem;
        text-align: center;
        max-width: 400px;
    }

    .info {
        width: 100%;
    }

    .info p {
        font-size: 20px;
    }

    .info_footer {
        font-size: 16px;
        margin-bottom: 2rem;
    }

    .container {
        background: url('./images/pattern-bg.svg') no-repeat top center/contain, url('./images/pattern-quotes.svg') 50% 70% no-repeat;
        background-size: 450px auto, 70px, auto;
        height: auto;
        padding: 2rem;
    }

    .img {
        width: 100%;
    }

    .btns {
        position: absolute;
        bottom: 7px;
        left: 50%;
        transform: translateX(-50%);
    }

    button {
        padding: 1rem 1.3rem;
    }

}

@media(max-width: 460px) {
    body {
        margin-inline: 0;
    }

    .slide {
        max-width: 280px;
    }

    .container {
        background: url('./images/pattern-bg.svg') no-repeat top center/contain, url('./images/pattern-quotes.svg') 50% 55% no-repeat;
        background-size: 340px auto, 70px, auto;
        text-align: center;
    }

    .info_footer {
        display: flex;
        flex-direction: column;
    }
}